<html>
  <head>
      <link href="styles.css" rel="stylesheet" type='text/css' >
    <title>Taylor Thanks You! </title>
  </head>
  <body>
    <div class="container-fluid">

      <h1 id="poo"> Thank you <%= contact.firstName %> <%= contact.lastName %>! I will contact you shortly! </h1>
    </div>
    
  </body>
</html>